{% extends 'base.html' %}
{% block title %}Add Country Vaccine{% endblock %}
{% block page_title %}Country Vaccines{% endblock %}
{% block breadcrumb %}Add Mapping{% endblock %}
{% block sidebar %}
{% endblock %}
{% block topbar_user %}
{% endblock %}
{% block content %}
<div class="card" style="max-width:520px;">
  <div class="card-hd"><span class="card-title">Add Country Vaccine</span></div>
  <div class="card-body">
    <form action="/myapp/adm_addcountryvaccine_post/" method="post">
      {% csrf_token %}
      <div class="fg">
        <label class="fl">Vaccine</label>
        <select class="fs" name="vaccine name" required>
          <option value="">-- Select Vaccine --</option>
          {% for i in data %}
          <option value="{{ i.id }}">{{ i.vaccine_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="fg"><label class="fl">Country</label><input type="text" class="fc" name="country" required placeholder="e.g. India"></div>
      <div class="fg"><label class="fl">Description</label><input type="text" class="fc" name="description" required placeholder="Brief description"></div>
      <button type="submit" class="btn btn-teal" style="width:100%;justify-content:center;padding:11px;"><i class="fa fa-plus"></i> Add Mappping</button>
    </form>
  </div>
</div>
{% endblock %}