{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block page_title %}Settings{% endblock %}
{% block breadcrumb %}Change Password{% endblock %}
{% block sidebar %}
{% endblock %}
{% block topbar_user %}
{% endblock %}
{% block content %}
<div class="card" style="max-width:460px;">
  <div class="card-hd"><span class="card-title">Change Password</span></div>
  <div class="card-body">
    <form action="/myapp/user_changepassword_post/" method="post">
      {% csrf_token %}
      <div class="fg"><label class="fl">Current Password</label><input type="password" class="fc" name="current password" required placeholder="Enter current password"></div>
      <div class="fg"><label class="fl">New Password</label><input type="password" class="fc" name="new password" required placeholder="Enter new password"></div>
      <div class="fg"><label class="fl">Confirm New Password</label><input type="password" class="fc" name="confirm password" required placeholder="Re-enter new password"></div>
      <button type="submit" class="btn btn-teal" style="width:100%;justify-content:center;padding:11px;"><i class="fa fa-key"></i> Update Password</button>
    </form>
  </div>
</div>
{% endblock %}