{% extends 'base.html' %}
{% block title %}Country Vaccines{% endblock %}
{% block page_title %}Vaccines{% endblock %}
{% block breadcrumb %}Country Recommendations{% endblock %}
{% block sidebar %}
{% endblock %}
{% block topbar_user %}
{% endblock %}
{% block content %}
<div class="tbl-wrap">
  <div class="tbl-hd">
    <span class="card-title">Country Vaccines</span>
  </div>
  <div style="overflow-x:auto;">
  <table>
    <thead><tr><th>SI NO</th><th>Country</th><th>Vaccine</th><th>Description</th></tr></thead>
    <tbody>
      {% for i in data %}
      <tr>
        <td style="color:var(--text-3);font-weight:600;">{{ forloop.counter }}</td>
        <td style="font-weight:600;color:var(--text);">{{ i.country }}</td>
        <td><span class="badge b-teal"><i class="fa fa-syringe"></i> {{ i.VACCINATION.vaccine_name }}</span></td>
        <td style="font-size:13px;color:var(--text-3);">{{ i.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}
